@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  /* --bg: #111111;
  --nav-bg: #080a0c;
  --sub-text: #9a9c9d;
  --text-subdued: #696969;
  --text-main: #ffffff;
  --menu-bg: #171717;
  --text-alt: #111111;
  --dark-border: #232323;
  --text-main-dimmed: #eeeeee; */
  --text: #ffffff;
  --rgb-text: 255, 255, 255;
  --subtext: #909090;
  --rgb-subtext: 144, 144, 144;
  --alt-text: #000000;
  --rgb-alt-text: 0, 0, 0;
  --main: #151515;
  --rgb-main: 18, 18, 18;
  --sidebar: #191919;
  --rgb-sidebar: 25, 25, 25;
  --player: #262626;
  --rgb-player: 38, 38, 38;
  --player-border: #3c3c3c;
  --rgb-player-border: 60, 60, 60;
  --player-bar-shadow: #080808;
  --rgb-player-bar-shadow: 8, 8, 8;
  --player-bar-bg: #333333;
  --rgb-player-bar-bg: 51, 51, 51;
  --card: #1c1c1c;
  --rgb-card: 28, 28, 28;
  --shadow: #ffffff;
  --rgb-shadow: 255, 255, 255;
  --selected-row: #373737;
  --rgb-selected-row: 55, 55, 55;
  --button: #4cc2ff;
  --rgb-button: 0, 255, 161;
  --button-active: #4cc2ff;
  --rgb-button-active: 0, 255, 161;
  --button-disabled: #313131;
  --rgb-button-disabled: 49, 49, 49;
  --tab-active: #1c1c1c;
  --rgb-tab-active: 28, 28, 28;
  --notification: #42a0fe;
  --rgb-notification: 66, 160, 254;
  --notification-error: #ff99a4;
  --rgb-notification-error: 255, 153, 164;
  --notif-bubble-info: #182b3f;
  --rgb-notif-bubble-info: 24, 43, 63;
  --notif-bubble-error: #442726;
  --rgb-notif-bubble-error: 68, 39, 38;
  --misc: #909090;
  --rgb-misc: 144, 144, 144;
  --not-selected: #bbbbbb;
  --rgb-not-selected: 187, 187, 187;
  --accent: #4cc2ff;
  --rgb-accent: 0, 255, 161;
  --layer-shadow: #000000;
  --rgb-layer-shadow: 0, 0, 0;
  --contour: #3c3c3c;
  --rgb-contour: 60, 60, 60;
}

::-webkit-scrollbar {
  background: #00000000;
    width: 4px;
    margin-right: 2px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
    border-radius: 9999px;
    width: 4px;
    margin-right: 2px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.sub-header p {
    font-size: 22px;
    color: var(--text-main);
    font-weight: 500;
    /* padding: 5px 14px; */
    /* background: rgba(var(--rgb-button-disabled), 0.4); */
    /* border-radius: 8px; */
}

.main-page {
    /* margin-top: -19px; */
    /* padding: 110px 30px 30px 30px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    /* height: calc(100vh - 140px); */
    width: 100%;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI Variable Display", "Segoe UI Variable Text", "Segoe UI",
    "Microsoft Ya Hei", sans-serif !important;
}

.game-card-icon {
    height: 40px;
    width: 40px;
    /* background: red; */
    background-image: url(https://seeklogo.com/images/N/nfs-logo-16396CCFA3-seeklogo.com.png);
    background-attachment: scroll;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.game-card-buttons-overlay {
    display: none;
}

img#overlay-img {
    display: none;
}

.game-list-item-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: -webkit-fill-available;
}

.game-list-item-text span:nth-child(2) {
    font-size: 12px;
    color: var(--subtext);
}

.app-container {
    width: calc(100% - 328px);
    height: calc(100% - 48px);
    border-radius: 10px;
    /* align-self: flex-end; */
    display: flex;
    position: absolute;
    right: 8px;
    bottom: 8px;
    background: var(--main);
}

.main-view {
    width: 100%;
    /* height: calc(100vh - 40px); */
    background: transparent;
    margin: 40px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.left-sidebar {
    bottom: 8px;
    left: 8px;
    position: absolute;
    height: calc(100% - 48px);
    width: 280px;
    /* background: var(--main); */
    /* border-radius: 10px; */
    margin: 0 8px 0 0;
}

.left-sidebar .nav-bottom-container:hover::-webkit-scrollbar-thumb {
    background: var(--subtext);
    border-radius: 9999px;
    width: 4px;
    margin-right: 2px;
}

.left-sidebar .nav-upper-container, .left-sidebar .nav-bottom-container {
    background: var(--main);
    padding: 8px 12px;
    width: 100%;
    border-radius: 0.75rem;
    display: flex;
    gap: 16px;
    flex-direction: column;
    /* margin-bottom: 8px; */
    flex-direction: column;
}

.nav-bottom-container {
    flex-direction: column;
    height: calc(100% - 156px);
    overflow: auto;
    padding-top: 16px !important;
}

.nav-bottom-container .game-list {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: fit-content;
    gap: 16px;
    padding-bottom: 16px;
}

.nav-bottom-container .game-list li {
    width: 100%;
    height: fit-content;
    /* min-width: 50px; */
}

.nav-bottom-container .game-list li .game {
    width: 100%;
    height: 100%;
}

.left-sidebar {
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 280px;
    padding: 0 12px;
}

/* .game-card-buttons-overlay {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
} */

.input-block.submit-button-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.input-block button[type*='submit'] {
    /* background: red; */
    width: -webkit-fill-available;
    height: 28px;
    border: 1px solid var(--dark-border);
    border-radius: 8px;
    margin-bottom: 3px;
    font-weight: 500;
}

.input-block label {
    font-weight: 500;
    font-size: 15px;
    width: 100%;
    padding-bottom: 5px;
    /* color: var(--text-main-dimmed); */
}

.input-block input {
    /* flex: 1; */
    width: -webkit-fill-available;
    /* display: flex; */
    padding: 5px 8px;
    border-radius: 8px;
    font-size: 15px;
    border: aliceblue;
    background: rgba(var(--rgb-button-disabled), 0.3);
    color: var(--subtext);
    outline: 0;
}

.input-block input:focus {
    outline: 1px solid var(--dark-border);
    border: 0;
}

.input-block input:focus {
    border: 1px solid #000;
}

form#add-game-form,
form#edit-game-form {
    width: 100%;
    /* height: 300px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 25px;
    color: var(--text-main-dimmed);
    font-weight: 400 !important;
}

.modal-content h2 {
    font-size: 26px;
    padding: 0 0 30px 0;
    font-weight: 700;
}

p.info-block {
    font-size: 15px;
    margin-bottom: 5px;
}

p.info-title {
    font-size: 19px;
    font-weight: 500;
    margin-top: 5px;
}

.sub-header {
    width: -webkit-fill-available;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    padding: 0 20px;
    color: var(--text);
}

/* General styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--main);
}

/* .bg-overlay { */
  /* position: absolute; */
  /* width: 100vw; */
  /* height: 100vh; */
  /* background: linear-gradient(0deg, var(--bg), #111111ff, transparent); */
  /* top: 0;
  right: 0;
} */

/* #overlay-img { */
  /* position: absolute; */
  /* width: 100vw; */
  /* height: 100vh; */
  /* top: 0; */
  /* right: 0; */
  /* transition: opacity 0.5s ease-in-out; */
  /* opacity: 1; */
/* } */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#overlay-img.visible {
  animation: fadeIn 1s ease-in-out;
  /* opacity: 0; */
}

/* .left-sidebar {
  position: fixed;
  width: 50px;
  height: calc(100vh - 60px);
  top: 0;
  left: 0;
  padding: 30px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.logo img {
  width: 100%;
  border-radius: 10px;
}

.main-nav-links {
  background: var(--nav-bg);
  padding: 15px 0;
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 9999px;
  width: 50px;
  height: auto;
}

.main-nav-links button.link {
  width: auto;
  height: auto;
  margin: 10px 0;
  height: 24px;
  width: 24px;
}

.bottom-nav-link {
  background: var(--nav-bg); */
  /* padding: 10px 10px; */
  /* margin: 10px 0; */
  /* width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 9999px;
}

.main-view {
  width: calc(100vw - 110px);
  margin-left: 110px; */
  /* background: #02ff0c9e; */
  /* z-index: 3; */
  /* position: absolute;
  top: 0;
  right: 0; */
  /* height: 100vh; */
  /* overflow: scroll; */
/* } */

.horizontal-nav {
  width: calc(100% - 60px);
  position: fixed;
  top: 0;
  right: 0;
  /* background-color: white; */
  height: 40px;
  padding: 0 30px;
  z-index: 9;
}

.game-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;
  /* padding: 0 5px; */
  /* background: var(--nav-bg); */
  /* border-radius: 9999px; */
}

.game.link img {
  width: 36px;
  height: 100%;
  object-fit: cover;
  margin: 0 8px;
  border-radius: 9999px;
}

div#game-container {
  /* background: red; */
  /* margin-top: 110px; */
  /* padding: 110px 15px 15px 15px; */
  height: auto;
  overflow: auto;
  width: fit-content;
  overflow-x: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 340px);
  /* grid-column-gap: 30px; */
  /* grid-row-gap: 30px; */
  /* grid-auto-flow: column; */
}

/* Header styles */
header {
  background-color: #333;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

#add-game-btn {
  background-color: transparent;
  color: var(--text-main);
  border: none;
  /* padding: 10px 20px; */
  cursor: pointer;
  /* position: absolute; */
  z-index: 3;
  font-size: 18px;
  font-weight: 400;
  padding: 5px 14px;
  background: rgba(var(--rgb-button-disabled), 0.4);
  border-radius: 8px;
}

/* Grid layout */
/* Modal Styles */
#addGameModal,
#editGameModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 45%);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.input-block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.input-block .input-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -webkit-fill-available;
}

/* Game Card Background */
.game-card {
  background-size: cover;
  background-position: center;
  /* padding: 20px; */
  /* border-radius: 10px; */
  /* margin-bottom: 30px; */
  position: relative;
  color: #fff;
  height: 300px;
  max-width: 100%;
  /* min-width: 100%; */
  /* border-radius: 20px; */
  overflow: hidden;
}

.game-card:hover .game-card-cover {
    animation: bounce 0.3s ease-in-out;
}

@keyframes bounce {
    0% {scale: 1;}
    40% {
        scale: 1.03;
        /* box-shadow: 0px 10px 20px #8484847d; */
    }
    100% {
        scale: 1;
    }
}

.game-card-cover {
    /* flex: 1; */
    height: 300px;
    background: white;
    /* padding: 20px; */
    width: 100%;
    /* max-width: 180px; */
    /* margin: 15px; */
    border-radius: 12px;
    background-position: center;
    background-size: cover;
    /* width: 100%; */
}

.game-overlay {
    position: relative;
    /* height: 30px; */
    margin: 0 20px;
    /* margin-top: 10px; */
    width: -webkit-fill-available;
    /* max-width: 210px; */
    /* min-width: 210px; */
    /* padding: 10px 20px 0 20px; */
    flex: 1;
    /* top: 0; */
    /* left: 0; */
    /* background: linear-gradient(0deg, #00000099, transparent); */
    /* border-radius: 20px; */
    /* top: 340px; */
    /* visibility: hidden; */
    /* transition: top 0.5s ease, visibility 0.5s ease; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.launch-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background: #2222225e;
    border-radius: 9999px;
    color: var(--text);
    padding: 10px;
}

span.launch-button-icon {
    width: 20px;
    height: 20px;
    display: block;
    mask-image: url(https://raw.githubusercontent.com/Amiru2007/icons-i-nedd-in-my-project-personal/main/ic_fluent_play_24_filled.svg) !important;
    background: var(--text);
}

.game-overlay h3 {
    /* display: none; */
    font-size: 24px;
    /* padding: 0 0 10px 0; */
    font-weight: 600;
    white-space: nowrap;
    /* box-shadow: inset -20px 0px; */
    width: -webkit-fill-available;
    overflow: hidden;
    margin-left: 10px;
}

.game-overlay h3::after {
    content: '';
    width: 30px;
    height: 100%;
    background: linear-gradient(270deg, var(--main), transparent);
    z-index: 2;
    position: absolute !important;
    right: 0px;
}

/* Game Icon */
.game-icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Cover Art */
.cover-art {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

p.user-title {
    font-size: 16px;
    color: var(--text-main);
    margin: 0 23px 0 0;
    font-weight: 500;
}

.profile-icon {
    width: 36px;
    height: 36px;
    padding: 0 10px;
}

.profile .profile-icon img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 9999px;
}

.badge {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star.badge {
  padding: 0 10px 0 20px;
}

.open.badge {
  padding: 0 20px 0 10px;
}

.breaker {
  height: 20px;
  margin: 0 5px;
  width: 1px;
  background: var(--text-subdued);
  opacity: 0.5;
}

/* .star-badge svg {
    background: var(--sub-text);
} */

.game.link {
    height: 36px;
}

.stared-games, .profile {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* padding: 0 20px; */
    background: var(--nav-bg);
    width: fit-content;
    border-radius: 9999px;
    margin: 0 15px;
}

.right-nav-links {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header {
  background: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

button {
  /* margin: 5px; */
  /* padding: 10px; */
  border: none;
  cursor: pointer;
  width: auto;
}

button.link {
    /* width: 100%; */
    /* border-radius: 0.5rem; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: flex-start; */
    /* padding: 8px; */
    background: transparent;
    width: 100%;
    /* padding: 2px 0; */
    /* color: var(--subtext); */
    /* height: 50px; */
    /* min-height: 50px; */
    /* min-width: 50px; */
    /* min-height: 50px; */
    /* min-width: 50px; */
    /* transition: all ease 100ms; */
    /* text-decoration: none !important; */
    /* justify-content: flex-start; */
    /* color: var(--text); */
    /* background-color: var(--selected-row); */
}

button.link span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 2px 0;
    color: var(--subtext);
    height: 50px;
    min-height: 50px;
    min-width: 50px;
    min-height: 50px;
    min-width: 50px;
    width: 100%;
    transition: all ease 100ms;
    text-decoration: none !important;
    justify-content: flex-start;
    color: var(--text);
    padding-left: 0.5rem;
    font-size: 16px;
    font-weight: 700;
    color: var(--subtext);
}

button.link.active {
    background: var(--selected-row);
}

button#browse-btn {
    width: 36px;
    height: 32px;
    margin-left: 8px;
    background: rgba(var(--rgb-button-disabled), 0.3);
    border: 1px solid var(--tab-active);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.launch-button, button.edit-button {
    padding: 8px 10px;
    border-radius: 9999px;
    font-size: 15px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: var(--bg);
    /* position: absolute; */
    bottom: 20px;
    right: 20px;
}

button.edit-button {
    margin: 0 10px;
    padding: 8px !important;
}

button.edit-button:before {
    content: '';
    width: 20px;
    height: 20px;
    background: var(--text-alt);
    mask-image: url(https://raw.githubusercontent.com/Amiru2007/Game-Launcher/main/game-launcher/public/icons/edit.svg);
}

button.launch-button[aria-label*='Launch']::before {
    content: '';
    width: 20px;
    height: 20px;
    background: var(--text-alt);
    margin-right: 5px;
    display: block;
    mask-image: url(https://raw.githubusercontent.com/Amiru2007/Game-Launcher/main/game-launcher/public/icons/play.svg);
}

button.launch-button[aria-label*='Stop']::before {
    content: '';
    width: 20px;
    height: 20px;
    background: var(--text-alt);
    margin-right: 5px;
    display: block;
    mask-image: url(https://raw.githubusercontent.com/Amiru2007/Game-Launcher/main/game-launcher/public/icons/stop.svg);
}

.game-card {
  /* background: rgb(75, 68, 68); */
  /* border-radius: 5px; */
  /* margin: 10px; */
  padding: 20px;
  width: 400px;
  /* min-height: 100%; */
  height: 300px !important;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  backdrop-filter: blur(10px);
  flex-direction: column;
  gap: 16px;
}

.game-card .game-card-cover::after {
    /* content: ''; */
    width: 420px;
    height: 280px;
    /* background: red; */
    display: block;
    border-radius: 12px;
    /* border: 4px solid blue; */
    position: absolute;
    /* top: 6px; */
    /* left: 6px; */
}

.game-card:hover .game-card-cover::after {
    /* content: ''; */
    width: 420px;
    height: 280px;
    /* background: red; */
    display: block;
    border-radius: 12px;
    border: 4px solid blue;
    position: absolute;
    top: 6px;
    left: 6px;
}

.game-card img {
  max-width: 100%;
  height: auto;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: rgba(var(--rgb-main), 0.8);
  padding: 25px 20px;
  border-radius: 20px;
  width: 600px;
  color: var(--text);
  backdrop-filter: blur(10px);
}

.close {
  float: right;
  font-size: 20px;
  cursor: pointer;
  width: 26px;
  /* background: red; */
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

span#close-modal svg {
    color: #fff;
}

.delete-button {
  background-color: #f44336; /* Red */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.game-item {
  display: flex;
  align-items: center;
  /* margin-bottom: 16px; */
  gap: 16px;
  color: var(--text);
}

.game-cover {
  width: 50px; /* Adjust size as needed */
  min-width: 50px;
  height: 70px; /* Adjust size as needed */
  min-height: 70px;
  /* margin-right: 12px; */
  object-fit: cover;
  border-radius: 6px;
}

.game-last-opened, .game-playtime {
  margin-left: 10px;
}